/* Umum */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    padding: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 1rem;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-item a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #007BFF;
    font-size: 1.5rem;
    margin-top: 1rem;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
}

ul li {
    margin-bottom: 0.5rem;
}

.footer-logo img {
    height: 50px;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.apaitu img {
    float: right;
    width: 400px;
    height: 250px;
}